
img {
  width: 352px;
  height: 300px;
}

nav {
  width: 100%;
  height: 82px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      150deg,
      #2E91DD 10%, 
      #287DBE 40%,
      #21689E 60%
  );
  color: white;
  position: fixed;
  z-index: 100;
  top: 0;

  & h2 {
    margin-left: 2rem;
  }

  & ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;

    & li {
      margin: 1rem 2rem;

      & a {
        text-decoration: none;
        text-align: center;
        color: #daf1ff;
      }
    }
  }
}

main {
  padding: 0;
  margin: 0;
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0D2A3F; /*#1B537F*/
  margin: 0;
  justify-content: center;
  align-items: center;

  & h1 {
    margin: 0;
    text-align: center;
    font-size: 8vh;
    color: #8fdaff;
  }
  
  & p {
    margin: 0;
    text-align: center;
    font-size: 6vh;
    color: #daf1ff;
  }
}

#perfil {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 40%;
}



.espacio {
  background: #0D2A3F;
  width: 100%;
  height: 82px;
}

#projects {
  margin: 0;
  padding: 0;
  background: #21689E;

  & h2 {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background: #35A6FD;
    color: #0D2A3F;
  }
}

.tech-select {    
  background: #0D2A3F;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  
  & svg {
    height: 45px;
    width: 45px;
    border: 2px solid #0D2A3F;

  }

  & svg:hover {
    scale: 1.1;
    cursor: pointer;
  }
}

.select {
  border-color: white;
  background: #174d75;
  display: flex;
  scale: 1.01;

  & svg {
    border-color: white;
  }
}

.contenedor {
  margin: 0 auto;
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(355px, 355px));
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* place-items: center; */
  place-content: center;
  


  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  */
}

.proyect {
  width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;

  & img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  & a {
    width: 100%;
    height: 2rem;
    text-decoration: none;
    font-weight: bold;
    background-color: #0D2A3F;
    padding: 0.5rem;
  }
  
  & a[class="github"] {
    border-bottom-left-radius: 12px;
    color: white;
    background: #0D2A3F;
  }
  
  & a[class="project-tile"] {
    border-bottom-right-radius: 12px;
    color: black;
    background: #35A6FD;
  }
}

.img-info {
  position: relative;
  height: 300px;
}

.barra-botones {
  border-top: 2px solid black;
  display: flex;
  width: 100%;
  flex-direction: fel;
  justify-content: center;
  align-items: center;
}

.info-project {
  position: absolute;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
  bottom: 0;
  width: 100%;
  color: white;
  overflow: hidden;
  background: rgba(36, 35, 35, 0.507);
  backdrop-filter: blur(5px);
  
  & h3 {
    margin: 10px 0px;
    text-align: center;
  }
}

.tecnologias {
  display: flex;
  margin: 10px 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  
  & svg {
    height: 45px;
    width: 45px;
  }
}

@media (min-width: 1300px) {
  .contenedor {
      width: 1300px;
  }
}

#contacts {
  margin: 0;
  background-color: #0D2A3F;
  height: 450px;  

  & .espacio-con {
    background: #21689E;
    width: 100%;
    height: 82px;
  }
  
  & h2 {
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 40px auto 0 auto;
    font-size: 40px;
  }
  
  & p {
    text-align: center;
    color: #ffffff;
    margin: 0;
    font-size: 1.8rem;
  }
  
  & a {
    text-decoration: none;
    color: #ffffff;

    & i {
      font-style: normal;   
    }
  }
}

.contenido { 
  /* height: calc(100% - 82px); */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#emailContainer {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

#email {
  background-color: black;
  border: 2px double black;
  padding: 1px 5px;
  font-size: 1.5rem;
}

button {
  margin: 5px;
  border-radius: 10px;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: #287DBE;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
  
}

.links {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;

  & a {
    padding: 2px;

    &:hover {
      background: #35A6FD;
      border-radius: 10px;
    }
  }
}

#profile-link {
  
  & i svg {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
  }

  & i {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
  }

  &:hover {
    text-decoration: none;
    color: #0D2A3F;

  }
}

@media (max-width: 900px) {
  #contacts {
    height: 500px;

    & p {
      font-size: 1.5rem;
      padding: 2px;
    }
  }

  .links {
      margin: 16px 0px;
      flex-direction: column;
  }
}

@media (max-width: 650px) {
  nav {
    flex-direction: column;
    justify-content: center;
    padding: 0;

    & h2 {
      margin: 0;
      padding-top: 10px;
    }

    & ul {
      margin: 0;
      
      & li {
        margin: 14px 1rem;
      }
    }
  }
}

@media (max-width: 600px) {
  #welcome-section {
    & h1 {
      font-size: 30px;
      width: 90%;
    }
    & p {
      font-size: 20px;
      width: 90%;
    }
  }
}

@media (max-width: 400px) {
  #welcome-section {
    & h1 {
      width: 100%;
    }
    & p {
      width: 100%;
    }
  }
}

@media (max-width: 355px) {
  img {
    width: 100%;
  }

  #contacts {
    height: 550px;
  }
}

@media (max-width: 500px) {
  #welcome-section {
    margin: 2px;
  }
}